.toDoList{
    list-style-type: none;
    margin: 20px auto;
    padding: 0px;
}

.toDoList__Item{
    width: 35%;
    margin:auto;
    margin-bottom: 20px;
    background-color: rgb(128, 0, 81);
    padding: 10px;
    padding-left: 14px;
    color: white;
}
